In [2]:
Question 1: Identify the primary keys and foreign keys in maven movies db. Discuss the differences.

    
Answer: The primary key is use to identify each records uniquely in the table whereas foreign key is use to create a relationship between two tables using primary key in other table.
A primary key table has only one primary key .
Primary key does not allow null values.
A foreign key table allow more then one foreign key.
the foreign key allows null values.

Code is to see keys in a table:
Use mavenmovies;
describe actor;
it will show the table grid where we can see in which column primary key is assigned. Se below screen shot.

Hello

In [ ]:
Question 2: List all details of actors.
Answer:   To see all details of actors in table we can write codes : 

select * from actor;

In [ ]:
Question 3: List all customer information from DB.
Answer: select * from customer;

In [ ]:
Question 4: List different countries.
Answer: select distinct country as different_countries from country;

In [ ]:
Question 5: Display all active customers.
Answer: select active from customer;

In [ ]:
Question 6: List of all rental IDs for customer with ID 1.
Answer: select rental_id, customer_id from payment where customer_id = 1;

In [ ]:
Question 7: Display all the films whose rental duration is greater than 5 . 

Answer:  select title from film where rental_duration > 5;

and we can write the codes as below.

select title , rental_duration from film where rental_duration > 5;

In [ ]:
Question 8: List the total number of films whose replacement cost is greater than $15 and less than $20.
Answer: select film_id as total_number_of_film, title from film where replacement_cost > 15 and replacement_cost <20 group by film_id;

In [ ]:

Question 9: Find the number of films whose rental rate is less than $1.
Answer: select film_id, title from film where rental_rate < 1 group by film_id;

In [ ]:
Question 10: Display the count of unique first names of actors.
Answer : select count(distinct(first_name)) from actor;

In [ ]:
Question 11: Display the first 10 records from the customer table.
Answer : select * from customer limit 10;

In [ ]:
Question 12: Display the first 3 records from the customer table whose first name starts with ‘b’. 
Answer: select * from customer where first_name like 'b%'limit 3;

In [ ]:
Question 13: Display the names of the first 5 movies which are rated as ‘G’.

Answer: select title, rating from film where rating = 'G' limit 5;
and we can write as below:

select * from film where rating = 'G' limit 5;

In [ ]:
Question 14: Find all customers whose first name starts with "a". 
Answer: select * from customer where first_name like 'a%'

In [ ]:
Question 15: Find all customers whose first name ends with "a". 
Answer: select * from customer where first_name like '%a'

In [ ]:
Question 16: Display the list of first 4 cities which start and end with ‘a’ . 
Answer: select city from city where city like 'a%' limit 4;

In [ ]:
Question 17: Find all customers whose first name have "NI" in any position. 
Answer: select first_name from customer where first_name like '%n%i%';

In [ ]:
Question 18: Find all customers whose first name have "r" in the second position.
Answer: select first_name from customer where first_name like '_r%';

In [ ]:
Question 19: Find all customers whose first name starts with "a" and are at least 5 characters in length. 
Answer: select first_name from customer where first_name like 'a____';

In [ ]:
Question 20:  Find all customers whose first name starts with "a" and ends with "o". 
Answer: select first_name from customer where first_name like 'a%o';

In [ ]:

Question 21: Get the films with pg and pg-13 rating using IN operator. 
Answer: select * from film where rating in (PG, PG-13);

In [ ]:

Question 22: Get the films with length between 50 to 100 using between operator.
Answer: select title, length from film where length between 50 and 100;

In [ ]:
Question 23: Get the top 50 actors using limit operator. 
Answer: select * from actor limit 50;

In [ ]:

Question 24: Get the distinct film ids from inventory table.
Answer: select distinct film_id from inventory;